* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("img/sky.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw auto;
}

h1 {
	text-align: center;
	padding: 30px;
	height: 1vh;
	color: white;
}

section {
	border: 10px solid white;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

li {
	width: 20vw;
	height: 20vh;
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid white;
}
li:hover {
	opacity: .5;
}

article {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

a {
	color: white;
	text-decoration-line: none;
}

@media screen and (max-aspect-ratio: 5114/3409) {
	body {
		background-size: auto 100vh;
	}
}
