* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: keep-all;

}

body {
	background-image: url("moon.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw auto;
}


@media screen and (max-aspect-ratio: 3/2) {
	body {
		background-size: auto 100vh;
	}
}

article {
	display: flex;
	color: white;
}

section {
	width: calc(100vw / 10);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.8s;
}
section:hover {
	width: 80%;
	background-color: white;
}
section:hover h2 {
	opacity: 0;
}

h2 {
	position: absolute;
}


div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.p1 {
	opacity: 0;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 10px;
}

.se1:hover .p1 {
	color: black;
	opacity: 1;
}